/* ================== landing ===================== */
.landing {
  position: relative;
  width: 100%;
  margin-top: 60px;
  clip-path: polygon(100% 0, 100% 90%, 3% 90%, 0 83%, 0 0);
  overflow: hidden;
}

.landing__overlay {
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
}

.landing:after {
  content: "";
  position: absolute;
  top: 0;
  right: 150px;
  height: 100vh;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

.landing__vid:before {
  content: "";
  color: var(--primary-theme);
  position: absolute;
  top: 0;
  left: 160px;
  height: 100vh;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

.landing__vid:after {
  content: "";
  position: absolute;
  top: 0;
  left: 450px;
  height: 100vh;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

.landing__vid {
  display: flex;
}
@media (min-width: 1000px) {
  .landing__vid > .vid2,
  .landing__vid > .vid3 {
    display: none;
  }
}

@media (max-width: 999px) {
  .landing__vid > .vid1,
  .landing__vid > .vid3 {
    display: none;
  }

  .landing__vid:after {
    display: none;
  }
}

@media (max-width: 690px) {
  .landing__vid > .vid1,
  .landing__vid > .vid2 {
    display: none;
  }

  .landing__vid > .vid3 {
    display: flex;
  }

  .landing__vid:before {
    display: none;
  }
}
